* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.menu-container {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin-right: 2rem;
}
